<!DOCTYPE html>
<html lang="en">
<head>
    <link id="head" rel="stylesheet" />
</head>
<body>
    <div align="center">
        <span></span>
        <h3 id="mainMessage"></h3>
        <span></span>
        <form id="form" class="col-md-4 col-md-offset-4 border border-light p-5">

            <div class="form-group">
                <label id="labelName" for="inputName"/>
                <input type="text" class="form-control" id="inputName">
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label id="labelCalories" for="inputCalories"/>
                    <input type="number" class="form-control" id="inputCalories">
                </div>
                <div class="form-group col-md-6">
                    <label id="labelCarbohydrates" for="inputCarbohydrates"/>
                    <input type="number" class="form-control" id="inputCarbohydrates">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label id="labelProteins" for="inputCalories"/>
                    <input type="number" class="form-control" id="inputProteins">
                </div>
                <div class="form-group col-md-6">
                    <label id="labelFat" for="inputCarbohydrates"/>
                    <input type="number" class="form-control" id="inputFat">
                </div>
            </div>

            <button id="submit" type="submit" class="btn btn-primary"/>
        </form>
        <a id="anchorCancel">
            <button class="btn btn-danger">Cancel</button>
        </a>

    </div>
</body>
</html>